

<div class="container">
 <div class="row">
   <div class="col-md-3">
    <%= render 'users/list', user: @user %>
    <%= render 'books/list', book: @book %>

   </div>

   <div class="col-md-8 offset-md-1">
     <h3>Users</h3>
     <table class="table table-striped">
       <tr>
       <th>image</th>
       <th>name</th>
       <th></th>
       <th></th>
       </tr>

       <% @users.each do |user|%>
       <tr>
       <td>
         <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: '50x50' %>
       </td>
       <td><%= user.name %></td>
       <td><%= link_to "Show", user_path(user.id) , class:'btn btn-link' %></td>
       <th>
        
       </th>
       </tr>
       <% end %>
     </table>
  </div>
 </div>
</div>

<!--コントローラ-->
<!--- book_commentsコントローラを追加-->
<!--- createアクションを追加-->
<!--  - 用途：コメントを作成する-->
<!--- destroyアクションを追加-->
<!--  - 用途：コメントを削除する-->
<!--- 自分のコメントしか削除できないこと-->
<!--- コメント, コメント削除後は行う前の画面に遷移すること-->
<!--モデル-->
<!--- book_commentモデルを追加 空のコメントは保存できないこと-->
<!--ビュー-->
<!--- 投稿一覧画面に、各投稿に対するコメント数を追加-->
<!--- 投稿詳細画面に、投稿に対するコメント一覧, コメント数を追加-->
<!--- ユーザー詳細画面に、各投稿に対するコメント数を追加-->